.comment-item {
  list-style-type: none;
}

.starsImg {
  width: 100px;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #ffffff;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 0;
}

.username-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 12px;
}

.comment {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-image {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.active {
  color: #0ea5e9;
}

.delete {
  height: 20px;
  width: 20px;
}

.comment-line {
  width: 100%;
  border: 1px solid #dee0e3;
}
